.endGame{
    left: 700px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    background-color: #fff;
    position: absolute;
    display: none;
    .score{
        text-align: center;
    }
    input{
        text-align: center;
        outline: none;
        border: none;
        background: none;
        min-width: 20px;
        max-width: 25px;
    }
}